@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nav-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, color 0.3s;
}

.group:hover .nav-icon-wrapper {
  transform: scale(1.1); /* Scale factor to go from 24px to 32px */
}

.online-status {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.online .status-dot {
  background-color: #4caf50;
}

.offline .status-dot {
  background-color: #9e9e9e;
}

.connection-status {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
}

.connection-status.connected {
  background-color: #e8f5e9;
  color: #4caf50;
}

.connection-status.disconnected {
  background-color: #ffebee;
  color: #f44336;
}

.typing-indicator {
  display: flex;
  padding: 6px;
  width: 40px;
  justify-content: center;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  background-color: #9e9ea1;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.typing-indicator span:nth-child(1) {
  animation-delay: -0.32s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* ===== Scrollbar CSS ===== */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6.5px;
  height: 6.5px;
}

/* Specifically target iOS devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ::-webkit-scrollbar {
    height: 3px; /* Much thinner horizontal scrollbar for iOS */
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8a8a8f;
}

::-webkit-scrollbar-button {
  display: none;
}
